<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortener</title>
</head>
<body>
    <h1>BismiALLAHir ROHMANIR ROHIYM</h1>

<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <title>URL Shortener</title>
</head>
<body>
    <h1>BismiALLAHir ROHMANIR ROHIYM</h1>
=======
>>>>>>> 6b01f4fd7b589641e56bc3d04156dc854759a63f
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
<<<<<<< HEAD
    <h1>URL Shrinker</h1>
    <form action="" method="POST">
        <label for="fullUrl">Url</label>
        <input type="url" name="fullUrl" id="fullUrl">
        <button type="submit">Shrink</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Full Url</th>
                <th>Short Url</th>
                <th>Clicks</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><a href="https://www.corbettreport.com/" >https://www.corbettreport.com/</a></td>
                <td><a href="/123499" >123499</a></td>
                <td>8</td>
            </tr>
        </tbody>
    </table>
=======
    <hr>

    <h1>URL Shrinker</h1>
>>>>>>> 6b01f4fd7b589641e56bc3d04156dc854759a63f
    
</body>
</html>