<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortener</title>
</head>
<body>
    <h1>BismiALLAHir ROHMANIR ROHIYM</h1>

    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <h1>URL Shrinker</h1>
    <form action="" method="POST">
        <label for="fullUrl">Url</label>
        <input type="url" name="fullUrl" id="fullUrl">
        <button type="submit">Shrink</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Full Url</th>
                <th>Short Url</th>
                <th>Clicks</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><a href="https://www.corbettreport.com/" >https://www.corbettreport.com/</a></td>
                <td><a href="/123499" >123499</a></td>
                <td>8</td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>